@import url("//hello.myfonts.net/count/37a482");
@import url("//hello.myfonts.net/count/37a483");
@font-face {
  font-family: 'HeadingPro-Bold';
  src: url("fonts/37A482_0_0.eot");
  src: url("fonts/37A482_0_0.eot?#iefix") format("embedded-opentype"), url("fonts/37A482_0_0.woff2") format("woff2"), url("fonts/37A482_0_0.woff") format("woff"), url("fonts/37A482_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'TTRoundsNeue';
  font-weight: bold;
  font-style: normal;
  src: url("fonts/37A483_0_0.eot");
  src: url("fonts/37A483_0_0.eot?#iefix") format("embedded-opentype"), url("fonts/37A483_0_0.woff2") format("woff2"), url("fonts/37A483_0_0.woff") format("woff"), url("fonts/37A483_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'TTRoundsNeue';
  font-weight: normal;
  font-style: italic;
  src: url("fonts/37A483_1_0.eot");
  src: url("fonts/37A483_1_0.eot?#iefix") format("embedded-opentype"), url("fonts/37A483_1_0.woff2") format("woff2"), url("fonts/37A483_1_0.woff") format("woff"), url("fonts/37A483_1_0.ttf") format("truetype"); }

@font-face {
  font-family: 'TTRoundsNeue';
  font-weight: normal;
  font-style: normal;
  src: url("fonts/37A483_2_0.eot");
  src: url("fonts/37A483_2_0.eot?#iefix") format("embedded-opentype"), url("fonts/37A483_2_0.woff2") format("woff2"), url("fonts/37A483_2_0.woff") format("woff"), url("fonts/37A483_2_0.ttf") format("truetype"); }

/* Variables*/
h1, h2, h3, h4, h5, h6, h1 span, h3 span, h2 span, h4 span {
  font-family: 'HeadingPro-Bold', 'Helvetica Neue','Roboto',Arial,Helvetica,sans-serif;
  color: #171918; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, h1 span a, h3 span a, h2 span a, h4 span a {
    font-family: 'HeadingPro-Bold', 'Helvetica Neue','Roboto',Arial,Helvetica,sans-serif; }

h1, h2 {
  text-transform: uppercase;
  letter-spacing: .008em; }

p, a, li {
  font-family: 'TTRoundsNeue','Arial Rounded','Helvetica Neue Light', 'Helvetica Neue',Arial,sans-serif;
  font-weight: normal;
  color: #171918; }

strong {
  font-family: 'TTRoundsNeue','Arial Rounded','Helvetica Neue Light', 'Helvetica Neue',Arial,sans-serif;
  font-weight: normal; }

article ul li {
  list-style-position: outside;
  list-style-type: circle;
  margin: 0 0 12px 24px; }

article ol li {
  list-style-type: upper-roman;
  margin: 0 0 12px 24px;
  list-style-position: inside; }

a {
  font-family: 'TTRoundsNeue','Arial Rounded','Helvetica Neue Light', 'Helvetica Neue',Arial,sans-serif;
  font-weight: 400;
  color: #0799F5; }
  a:hover {
    text-decoration: underline; }
  a.btn {
    font-family: 'HeadingPro-Bold', 'Helvetica Neue','Roboto',Arial,Helvetica,sans-serif;
    padding: 0; }
  a.btn:hover {
    text-decoration: none; }

input[type="submit"] {
  font-family: 'HeadingPro-Bold', 'Helvetica Neue','Roboto',Arial,Helvetica,sans-serif; }
  input[type="submit"]:hover {
    text-decoration: none; }

.btn {
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0; }

.action-btn {
  font-family: 'HeadingPro-Bold', 'Helvetica Neue','Roboto',Arial,Helvetica,sans-serif;
  width: 100%;
  max-width: 600px;
  background-color: #171918;
  color: white;
  text-align: center;
  padding: .25em !important;
  text-transform: uppercase;
  transition: all .4s ease-out; }
  .action-btn:hover {
    color: white; }
    .action-btn:hover.blue {
      background-color: #00bdff; }
    .action-btn:hover.red {
      background-color: #ff0051; }
    .action-btn:hover.black {
      background-color: #E81F4E; }

#dvLoading {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(23, 25, 24, 0);
  transition: all .15s ease-out;
  overflow: hidden;
  flex-direction: column;
  display: none; }
  #dvLoading .load-wrapper {
    width: 80px;
    height: 80px;
    padding: 20px;
    -moz-border-radius: 100px 100px 100px 100px;
    -webkit-border-radius: 100px 100px 100px 100px;
    border-radius: 100px 100px 100px 100px;
    background-color: #171918;
    background-repeat: no-repeat;
    background-image: url(img/loading.png);
    background-position: center center;
    background-size: 70%;
    transition: all .35s ease-in-out;
    margin-top: 80vh; }
  #dvLoading #dvLoadingPercent {
    width: 160px;
    height: 60px;
    -moz-border-radius: 42px 42px 42px 42px;
    -webkit-border-radius: 42px 42px 42px 42px;
    border-radius: 42px 42px 42px 42px;
    margin-top: 80vh;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #171918;
    transition: all .75s ease-in-out;
    padding: 18px 0;
    text-align: center;
    box-sizing: border-box; }
    #dvLoading #dvLoadingPercent, #dvLoading #dvLoadingPercent span {
      font-family: 'TTRoundsNeue','Arial Rounded','Helvetica Neue Light', 'Helvetica Neue',Arial,sans-serif;
      font-weight: bold;
      font-size: 16px;
      color: white; }
    #dvLoading #dvLoadingPercent #spLoadingPercent {
      color: #0799F5 !important; }
  #dvLoading.loading {
    display: flex;
    background-color: rgba(23, 25, 24, 0.8); }
    #dvLoading.loading .load-wrapper {
      margin-top: 0; }
    #dvLoading.loading #dvLoadingPercent {
      margin-top: 4em; }

#main-nav {
  padding: 0;
  position: absolute;
  max-width: calc(100% - 5em); }
  #main-nav .navbar-header .navbar-brand {
    text-indent: -9999px;
    overflow: hidden;
    width: 152px;
    background-repeat: no-repeat;
    background-image: url(img/logo.svg);
    background-position: center center;
    background-size: 82%;
    height: 44px;
    background-color: #171918;
    margin-left: 1px; }
  #main-nav .navbar-header .navbar-toggler {
    height: 44px;
    float: left;
    -moz-border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    padding: 11px 14px;
    background-color: #E81F4E;
    transition: all .2s ease-out; }
    #main-nav .navbar-header .navbar-toggler:focus {
      outline: none; }
    #main-nav .navbar-header .navbar-toggler.collapsed {
      background-color: #171918; }
      #main-nav .navbar-header .navbar-toggler.collapsed:hover {
        background-color: #E81F4E; }
      #main-nav .navbar-header .navbar-toggler.collapsed .navbar-toggler-icon {
        background-image: url(img/icon-menu.svg) !important; }
    #main-nav .navbar-header .navbar-toggler .navbar-toggler-icon {
      width: 15px;
      height: 11px;
      background-repeat: no-repeat;
      background-image: url(img/icon-x.svg);
      background-position: top center;
      background-size: contain; }
  #main-nav #main-nav-menu {
    width: 100vw;
    position: absolute;
    z-index: -1;
    top: 0; }
    #main-nav #main-nav-menu .menu-wrapper {
      height: 100vh;
      background-color: black;
      display: flex;
      align-items: center;
      justify-content: center; }
    #main-nav #main-nav-menu ul {
      align-items: center; }
      #main-nav #main-nav-menu ul li {
        display: contents; }
        #main-nav #main-nav-menu ul li a {
          font-family: 'HeadingPro-Bold', 'Helvetica Neue','Roboto',Arial,Helvetica,sans-serif;
          text-transform: uppercase;
          color: white;
          letter-spacing: .008em;
          font-size: 5.5vh;
          transition: color .25s ease-in-out; }
          @media (min-width: 992px) {
            #main-nav #main-nav-menu ul li a {
              font-size: 6vh; } }
          #main-nav #main-nav-menu ul li a:hover {
            text-decoration: none;
            color: #E81F4E; }

.screens-container {
  height: 100vh;
  background-color: #171918;
  overflow: hidden;
  position: relative; }
  .screens-container .screen {
    height: 100vh;
    width: 100vw;
    opacity: 0;
    z-index: 0;
    transition: opacity .5s ease-in-out;
    position: absolute;
    background-color: #F4F4F4;
    font-size: 1.1rem; }
    .screens-container .screen.active {
      -webkit-transition-delay: .5s;
      transition-delay: .5s;
      transition: opacity .5s ease-in-out;
      opacity: 1;
      z-index: 1; }
    .screens-container .screen.overlay {
      background-color: #171918;
      transition: top .5s ease-in-out;
      opacity: 1;
      z-index: 2;
      top: 101vh;
      height: 0;
      overflow: hidden; }
      .screens-container .screen.overlay.active {
        height: 100vh;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        transition: top .5s ease-in-out;
        top: 0; }
      .screens-container .screen.overlay h1, .screens-container .screen.overlay p, .screens-container .screen.overlay span {
        color: white; }
    .screens-container .screen h1 {
      font-size: 2.5em; }
      .screens-container .screen h1.stars {
        padding-top: 1.05em;
        background-repeat: no-repeat;
        background-image: url(img/head-stars.svg);
        background-position: top center;
        background-size: 2.5em; }
    .screens-container .screen p {
      font-size: 1em;
      line-height: 1.45em; }
    .screens-container .screen .action {
      margin-top: 2em; }
      .screens-container .screen .action p {
        margin-bottom: .75em; }
        .screens-container .screen .action p:last-child {
          margin-bottom: 0px; }
      .screens-container .screen .action .action-btn {
        font-size: 1.5em;
        letter-spacing: .02em; }
    .screens-container .screen .state-icon {
      margin-bottom: 1em; }
      .screens-container .screen .state-icon img {
        max-height: 24vh; }
    .screens-container .screen .photo-upload {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1; }
      .screens-container .screen .photo-upload + label {
        width: 100%;
        height: 13em;
        background-color: #D8E3E6;
        display: table;
        border: .2em solid white;
        background-image: url(img/icon-camera-text.svg);
        background-position: center 55%;
        background-repeat: no-repeat;
        background-size: 35%;
        margin-bottom: 2em;
        border-radius: 2em;
        cursor: pointer; }
    .screens-container .screen .overlay-close {
      -moz-border-radius: 0 0 0 0;
      -webkit-border-radius: 0 0 0 0;
      border-radius: 0 0 0 0;
      padding: .75em;
      transition: all .2s ease-out;
      border: none;
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      background-color: transparent; }
      .screens-container .screen .overlay-close:hover, .screens-container .screen .overlay-close:focus {
        background-color: #E81F4E; }
      .screens-container .screen .overlay-close .close-icon {
        cursor: pointer;
        display: block;
        width: .75em;
        height: .75em;
        background-repeat: no-repeat;
        background-image: url(img/icon-x.svg);
        background-position: top center;
        background-size: contain; }
    @media (max-width: 340px) {
      .screens-container .screen {
        font-size: .9rem; } }
    @media (min-width: 768px) {
      .screens-container .screen {
        font-size: 1.5rem; } }
    @media (min-width: 1300px) {
      .screens-container .screen {
        font-size: 1.65rem; } }
    @media (min-width: 1500px) {
      .screens-container .screen {
        font-size: 2rem; } }

.red {
  background-color: #E81F4E; }

.blue {
  background-color: #0799F5; }

.black {
  background-color: #171918; }

.author-info {
  text-align: left;
  margin-bottom: .25em;
  font-family: 'TTRoundsNeue','Arial Rounded','Helvetica Neue Light', 'Helvetica Neue',Arial,sans-serif;
  font-weight: normal;
  font-style: italic;
  font-size: .5em;
  color: #F4F4F4;
  margin-bottom: .5em; }
  .author-info a {
    color: #0799F5 !important;
    text-decoration: underline !important;
    cursor: pointer; }
    .author-info a:hover {
      text-decoration: none !important; }

.scale-buttons .scale-btn {
  width: 50%;
  padding: .5em;
  margin-bottom: .5em;
  float: left;
  clear: both;
  background-color: #F4F4F4;
  color: #171918;
  transition: all .2s ease-out; }
  .scale-buttons .scale-btn:hover {
    background-color: #0799F5;
    color: white; }

#imgEditor {
  cursor: move;
  background-color: black; }
  #imgEditor span {
    transition: all .15s ease-out; }

.frames {
  width: 100vw;
  overflow-x: auto;
  padding: 0 20px;
  white-space: nowrap;
  margin-top: .9em;
  vertical-align: top;
  -webkit-overflow-scrolling: touch; }
  .frames .frame {
    width: 5em;
    height: 5em;
    display: inline-block;
    vertical-align: top;
    margin-left: .5em;
    background-color: #F4F4F4;
    -moz-border-radius: 0.75em 0.75em 0.75em 0.75em;
    -webkit-border-radius: 0.75em 0.75em 0.75em 0.75em;
    border-radius: 0.75em 0.75em 0.75em 0.75em;
    overflow: hidden;
    background-image: url(img/frame-bg.jpg);
    background-size: contain; }
    @media (min-width: 1200px) {
      .frames .frame {
        width: 3.75em;
        height: 3.75em; } }
    .frames .frame img {
      width: 100%;
      height: auto; }

/* Variables*/
