@import url("//hello.myfonts.net/count/37a482");
@import url("//hello.myfonts.net/count/37a483");
@font-face {
  font-family: 'HeadingPro-Bold';
  src: url("fonts/37A482_0_0.eot");
  src: url("fonts/37A482_0_0.eot?#iefix") format("embedded-opentype"), url("fonts/37A482_0_0.woff2") format("woff2"), url("fonts/37A482_0_0.woff") format("woff"), url("fonts/37A482_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'TTRoundsNeue';
  font-weight: bold;
  font-style: normal;
  src: url("fonts/37A483_0_0.eot");
  src: url("fonts/37A483_0_0.eot?#iefix") format("embedded-opentype"), url("fonts/37A483_0_0.woff2") format("woff2"), url("fonts/37A483_0_0.woff") format("woff"), url("fonts/37A483_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'TTRoundsNeue';
  font-weight: normal;
  font-style: italic;
  src: url("fonts/37A483_1_0.eot");
  src: url("fonts/37A483_1_0.eot?#iefix") format("embedded-opentype"), url("fonts/37A483_1_0.woff2") format("woff2"), url("fonts/37A483_1_0.woff") format("woff"), url("fonts/37A483_1_0.ttf") format("truetype"); }

@font-face {
  font-family: 'TTRoundsNeue';
  font-weight: normal;
  font-style: normal;
  src: url("fonts/37A483_2_0.eot");
  src: url("fonts/37A483_2_0.eot?#iefix") format("embedded-opentype"), url("fonts/37A483_2_0.woff2") format("woff2"), url("fonts/37A483_2_0.woff") format("woff"), url("fonts/37A483_2_0.ttf") format("truetype"); }

/* Variables*/
h1, h2, h3, h4, h5, h6, h1 span, h3 span, h2 span, h4 span {
  font-family: 'HeadingPro-Bold', 'Helvetica Neue','Roboto',Arial,Helvetica,sans-serif; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, h1 span a, h3 span a, h2 span a, h4 span a {
    font-family: 'HeadingPro-Bold', 'Helvetica Neue','Roboto',Arial,Helvetica,sans-serif; }

p, a, li {
  font-family: 'TTRoundsNeue','Helvetica Neue Light', 'Helvetica Neue',Arial,sans-serif;
  font-weight: normal; }

strong {
  font-family: 'TTRoundsNeue','Helvetica Neue Light', 'Helvetica Neue',Arial,sans-serif;
  font-weight: normal; }

article ul li {
  list-style-position: outside;
  list-style-type: circle;
  margin: 0 0 12px 24px; }

article ol li {
  list-style-type: upper-roman;
  margin: 0 0 12px 24px;
  list-style-position: inside; }

a {
  font-family: 'TTRoundsNeue','Helvetica Neue Light', 'Helvetica Neue',Arial,sans-serif;
  font-weight: 400; }
  a:hover {
    text-decoration: underline; }
  a.btn {
    font-family: 'HeadingPro-Bold', 'Helvetica Neue','Roboto',Arial,Helvetica,sans-serif;
    padding: 0; }
  a.btn:hover {
    text-decoration: none; }

input[type="submit"] {
  font-family: 'HeadingPro-Bold', 'Helvetica Neue','Roboto',Arial,Helvetica,sans-serif; }
  input[type="submit"]:hover {
    text-decoration: none; }

.screens-container {
  height: 100vh; }

/* Variables*/
