@model Activote.Models.Person

@{
    ViewBag.Title = "Home Page";
}
<h3>Contacts</h3>
<div id="dvContacts">
    
</div>

@section scripts{
<script src="~/Scripts/custom/Contacts.js"></script>    
    }