.btn{
    @include rounded(0);
}
.action-btn{
    @include header-font;
    width: 100%;
    max-width: 600px;
    background-color: $black;
    color: white;
    text-align: center;
    padding: .25em;
    text-transform: uppercase;
    transition: all .4s ease-out;
    //filter: saturate(1);
    &:hover{
        color: white;
        &.blue{
            background-color: $bright-blue;
        }
        &.red{
            background-color: $bright-red;
        }
        &.black{
            background-color: $red;
        }
        
    }
}