.screens-container{
    height: 100vh;
    background-color: $black;
    overflow: hidden;
    position: relative;
    
    .screen{
        height: 100vh;
        width: 100vw;
        opacity: 0;
        z-index: 0;
        transition: opacity .5s ease-in-out;
        position: absolute;
        background-color: $white-grey;
        
        &.active{
            -webkit-transition-delay: .5s;
            transition-delay: .5s;
            transition: opacity .5s ease-in-out;
            opacity: 1;
            z-index: 1;
        }
        
        &.overlay{
            background-color: $black;
            transition: top .5s ease-in-out;
            opacity: 1;
            z-index: 2;
            top: 101vh;
            height: 0;
            overflow: hidden;
            &.active{
                height: 100vh;
                -webkit-transition-delay: 0s;
                transition-delay: 0s;
                transition: top .5s ease-in-out;
                top: 0;
            }
            h1,p,span{
                color: white;
            }
        }
        
        
        h1{
            font-size: 2.5em;
            &.stars{
                padding-top: 1.05em;
                background-repeat: no-repeat;
                background-image: url(img/head-stars.svg);
                background-position: top center;
                background-size: 2.5em;
            }
        }
        p{
            font-size: 1em; 
            line-height: 1.45em;
        }
        .action{
            margin-top: 2em;
            
            p{
                margin-bottom: .75em;
                &:last-child{
                    margin-bottom: 0px;
                }
            }
            .action-btn{
                font-size: 1.5em;
                letter-spacing: .02em;
            }
        }
        
        .state-icon{
            margin-bottom: 1em;
            img{
                max-height: 24vh;
            }
        }
        
        .photo-upload{
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
            & + label{
                width: 100%;
                height: 13em;
                background-color: $grey;
                display: table;
                border: .2em solid white;
                background-image: url(img/icon-camera-text.svg);
                background-position: center 55%;
                background-repeat: no-repeat;
                background-size: 35%;
                margin-bottom: 2em;
                border-radius: 2em;
                cursor: pointer;
            }
        }
        
        .overlay-close{
            
            @include rounded(0);
            padding: .75em;
            transition: all .2s ease-out;
            border: none;
            position: absolute;
            right: 0;
            top: 0;
            cursor: pointer;
            background-color: transparent;
            &:hover, &:focus{
                background-color: $red;
            }
            .close-icon{
                display: block;
                width: .75em;
                height: .75em;
                background-repeat: no-repeat;
                background-image: url(img/icon-x.svg);
                background-position: top center;
                background-size: contain;
            }
        }
        
        font-size: 1.25rem;
        @media (max-width: 340px) { 
            font-size: 1rem;
        }
        @media (min-width: 768px) { 
            font-size: 1.5rem; 
        }
        @media (min-width: 1300px) { 
            font-size: 1.65rem; 
        }
        @media (min-width: 1500px) { 
            font-size: 2rem; 
        }
    }
}