.screens-container{
    height: 100vh;
    background-color: $black;
    overflow-x: hidden;
    position: relative;
    -webkit-overflow-scrolling: touch;
    
    .screen{
        height: 100vh;
        width: 100vw;
        opacity: 0;
        z-index: 0;
        transition: opacity .5s ease-in-out;
        position: absolute;
        background-color: $white-grey;
        @include place-holder-1;
        
        &.scroll{
            overflow-x: hidden;
            height: auto;
            min-height: 100vh;
            -webkit-overflow-scrolling: touch;
            padding: 5em 0;
        }
        
        &.active{
            -webkit-transition-delay: .5s;
            transition-delay: .5s;
            transition: opacity .5s ease-in-out;
            opacity: 1;
            z-index: 1;
        }
        
        &.overlay{
            background-color: $black;
            transition: top .5s ease-in-out;
            opacity: 1;
            z-index: 2;
            top: 125vh;
            position: fixed;
            height: 100vh;
            overflow-x: hidden;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            #dvEarlyVoteMoreInfo{
                padding: 6em 0;
            }
            &.active{                
                -webkit-transition-delay: 0s;
                transition-delay: 0s;
                transition: top .5s ease-in-out;
                top: 0;
            }
            h1,p,span,div{
                color: white;
            }
            .section{
                border-top: 1px solid rgba(216, 227, 230, 0.21);
                margin-top: 1.1em;
                padding-top: 1.1em;
                font-size: .85em;
                .label{
                    font-size: 1em;
                }
            }
        }
        
        
        h1{
            font-size: 2.5em;
            &.stars{
                padding-top: 1.05em;
                background-repeat: no-repeat;
                background-image: url(img/head-stars.svg);
                background-position: top center;
                background-size: 2.5em;
            }
        }
        p{
            font-size: 1em; 
            line-height: 1.45em;
        }
        .action{
            margin-top: 2em;
            
            p{
                margin-bottom: .75em;
                &:last-child{
                    margin-bottom: 0px;
                }
            }
            .action-btn{
                font-size: 1.5em;
                letter-spacing: .02em;
            }
        }
        
        .state-icon{
            margin-bottom: 1em;
            img{
                max-height: 24vh;
            }
        }
        
        .photo-upload{
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
            & + label{
                width: 100%;
                height: 13em;
                background-color: $grey;
                display: table;
                border: .2em solid white;
                background-image: url(img/icon-camera-text.svg);
                background-position: center 55%;
                background-repeat: no-repeat;
                background-size: 35%;
                margin-bottom: 2em;
                border-radius: 2em;
                cursor: pointer;
            }
        }
        
        .photo-upload-button{
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
            & + label{
                cursor: pointer;
                text-align: left;
                background-image: url(img/icon-camera.svg);
                background-position: 18% center;
                background-repeat: no-repeat;
                background-size: 13%;
                text-indent: 34%;
                padding: .35em 0 !important;
            }
        }
        
        
        .overlay-close{
            
            @include rounded(0);
            padding: .75em;
            transition: all .2s ease-out;
            border: none;
            position: absolute;
            right: 0;
            top: 0;
            cursor: pointer;
            background-color: transparent;
            &:hover, &:focus{
                background-color: $red;
            }
            .close-icon{
                cursor: pointer;
                display: block;
                width: .75em;
                height: .75em;
                background-repeat: no-repeat;
                background-image: url(img/icon-x.svg);
                background-position: top center;
                background-size: contain;
            }
        }
        .label{
             font-weight: bold;
             margin-bottom: .2em;
             font-size: .8em;
         }
        
        .slick-prev {
            left: -50px;
        }
        .slick-next {
            right: -50px;
        }
        .slick-prev, .slick-next{
            z-index: 2;
            width: 35px;
            height: 35px;
            &:before{
                color: #171918;
                font-size: 40px;
                opacity: 1px;
            }
        }
        
        // Polling Interface --------------------
        #polling-search{
            margin: 2em 0 2.5em;
            position: relative;
            input{
                width: 100%;
                height: 3em;
                border-radius: .3em;
                border: 0.05em solid $blue;
                text-indent: 1.1em;
                position: relative;
                z-index: 1;
                box-sizing: border-box;
            } 
            button{
                overflow: hidden;
                text-indent: -999px;
                height: 2em;
                width: 2em;
                background-repeat: no-repeat;
                background-image: url(img/icon-x.svg);
                background-position: center;
                background-size: 40%;
                background-color: $black;
                border: none;
                padding: 0;
                position: absolute;
                z-index: 2;
                right: .5em;
                top: .5em;
                border-radius: .3em;
                transition: all .2s ease-out;
                &:hover{
                    background-color: $red;
                }
            }
        }
        
        .info-card{
            //border-radius: 3em;
            text-align: left;
            margin-bottom: 1.5em;
            position: fixed;
            margin-top: 101vh;
            opacity: 0;
            transition: margin-top .5s ease-out;
            
            &.active{
                position: relative;
                margin-top: 0vh;
                @keyframes fadeIn { from {opacity: 0; } to { opacity: 1; } }
                animation: fadeIn .5s ease-out;
                opacity: 1;
            }
            
            
            &>div:first-child{
                border-top-left-radius: .3em;
                border-top-right-radius: .3em;
            }
            &>div:last-child{
                border-bottom-left-radius: .3em;
                border-bottom-right-radius: .3em;
            }
            
            .section{
                padding: 1.1em;
            }
            .data-large{
                font-size: 1.1em;
                line-height: 1.45em;
            }
            .data-small{
                font-size: .94em;
                line-height: 1.1em;
            }
            .action{
                padding: .75em .75em 0;
                margin-top: 0;
                text-align: center;
                .action-btn{
                    max-width: 100%;
                }
            }
            .context-info{
                background-color: $light-grey;
                position: relative;
                padding: 1.1em;
                padding-bottom: 2em;
                margin-bottom: -1em;
                z-index: 1;
                .label{
                    color: $red;
                }
            }
            .main-info{
                z-index: 2;
                background-color: white;
                padding: .85em 0;
                position: relative;
                &.contextualized{
                    -webkit-box-shadow: 0px -6px 12px 0px rgba(206,216,219,0.5);
                    -moz-box-shadow: 0px -6px 12px 0px rgba(206,216,219,0.5);
                    box-shadow: 0px -6px 12px 0px rgba(206,216,219,0.5);
                }
                
                h1{
                    margin-bottom: 0.35em;
                }
                .sub-info{
                    border-top: .08em solid $light-grey;
                    border-bottom: .08em solid $light-grey;
                    .cell{
                        border-right: .08em solid $light-grey;
                        padding: 1em 1.1em;
                        &:last-child{
                            border-right: none;
                        }
                    }
                }
                .sub-cards{
                    background-color: $light-grey;
                    border-top: 1px solid $grey;
                    padding: .85em 0;
                    
                    &.last-child{
                        margin-bottom: -.85em;
                        padding-bottom: .85em;
                        border-bottom-left-radius: .3em;
                        border-bottom-right-radius: .3em;
                    }
                    .slick-list{
                        overflow: visible !important;
                    }
                    .slick-track{
                        display: flex;
                    }
                    .cards{
                        margin-left: -.6em;
                    }
                    .card{
                        padding: 1.1em;
                        padding-bottom: 3em;
                        margin-right: .8em;
                        border: none;
                        max-width: 18em;
                        height: auto;
                        -webkit-box-shadow: 0px 0px .5em 0px rgba(206,216,219,0.6);
                        -moz-box-shadow: 0px 0px .5em 0px rgba(206,216,219,0.6);
                        box-shadow: 0px 0px .5em 0px rgba(206,216,219,0.6);
                        p.data-small{
                            line-height: 1.45em;
                        }
                        .bold-link{
                            font-size: 1.1em;
                            color: $red;
                            position: absolute;
                            bottom: 0;
                            padding: 1em 0;
//                            text-align: center;
//                            display: inherit;
                            &:hover{
                                color: $bright-red;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
       
        
        font-size: 1.1rem;
        @media (max-width: 340px) { 
            font-size: .9rem;
        }
        @media (min-width: 768px) { 
            font-size: 1.5rem; 
        }
        @media (min-width: 1300px) { 
            font-size: 1.65rem; 
        }
        @media (min-width: 1500px) { 
            font-size: 2rem; 
        }
    }
}