@import url("//hello.myfonts.net/count/37a482");
@import url("//hello.myfonts.net/count/37a483");

@font-face {font-family: 'HeadingPro-Bold';src: url('fonts/37A482_0_0.eot');src: url('fonts/37A482_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/37A482_0_0.woff2') format('woff2'),url('fonts/37A482_0_0.woff') format('woff'),url('fonts/37A482_0_0.ttf') format('truetype');}
  
@font-face {font-family: 'TTRoundsNeue';font-weight: bold;font-style: normal;src: url('fonts/37A483_0_0.eot');src: url('fonts/37A483_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/37A483_0_0.woff2') format('woff2'),url('fonts/37A483_0_0.woff') format('woff'),url('fonts/37A483_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'TTRoundsNeue';font-weight: normal;font-style: italic;src: url('fonts/37A483_1_0.eot');src: url('fonts/37A483_1_0.eot?#iefix') format('embedded-opentype'),url('fonts/37A483_1_0.woff2') format('woff2'),url('fonts/37A483_1_0.woff') format('woff'),url('fonts/37A483_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'TTRoundsNeue';font-weight: normal;font-style: normal;src: url('fonts/37A483_2_0.eot');src: url('fonts/37A483_2_0.eot?#iefix') format('embedded-opentype'),url('fonts/37A483_2_0.woff2') format('woff2'),url('fonts/37A483_2_0.woff') format('woff'),url('fonts/37A483_2_0.ttf') format('truetype');}
 