@model IEnumerable<Activote.Models.State>
@using Activote.Models

<h2>Check Registration by State</h2>

<select id="slState" onchange="action.registered.stateSelected()" class="form-control">
    <option value="">SELECT YOUR STATE</option>
    @foreach (State s in Model)
    {
        <option value="@s.StateAbbrev" data-url="@s.RegistrationURL">@s.StateName</option>
    }
</select>
<span>
    <br />
    <button class="btn btn-primary" onclick="action.registered.stateSelected()">Go</button>
</span>