@model IEnumerable<Activote.Models.State>
@using Activote.Models

<div class="screen-content col-10 col-md-4">
<div class="message">
    <h1 class="stars">Check Registration by State</h1>
</div>

<div class="action">
<select id="slState" onchange="action.registered.stateSelected()" class="form-control">
    <option value="">SELECT YOUR STATE</option>
    @foreach (State s in Model)
    {
        <option value="@s.StateAbbrev" data-image="@s.StateName.Replace(" ", "_")" data-url="@s.RegistrationURL">@s.StateName</option>
    }
</select>
<span>
    <br />
    <button class="btn btn-default action-btn red" onclick="action.registered.stateSelected()">Go</button>
</span>
</div>
</div>