@model IEnumerable<Activote.Models.Frame>

<div id="imgEditor" style="width: 1000px;">

</div>
<canvas id="downloadCanvas" style="display:none;"></canvas>

<button type="button" class="btn btn-default" onclick="action.adjustScale(false);">-</button>
<br />
<br />
<button type="button" class="btn btn-default" onclick="action.adjustScale(true);">+</button>

<input value="1" style="display:none;" id="imgScale" />
<hr />

<div>
    <p>
        Try a different frame:
    </p>
    @foreach (var f in Model)
    {
        <img src="@f.URL" style="width:200px;border:solid;padding:10px;" onclick="action.changeFrame('@f.URL')" />
    }
</div>
<div style="margin-top:20px;">
    <button class="btn btn-default" onclick="action.chooseFrame('dv5')">Done</button>
</div>

<form id="frmChooseFrame">
    @Html.AntiForgeryToken()
</form>