
<div class="screen-content col-10 col-md-4">   

    <div class="message">
        <h1 class="stars"><img style="width:100%;" src="" id="finalImage" /></h1>
        <p>Press and hold the image on a touchscreen device to save the photo.</p>
    </div>

    <div class="action">
        <p>
            <button class="btn btn-default action-btn red" id="btnDownloadImage" download="activote.jpg" href="#" onclick="action.downloadImage()">Download</button>
        </p>
    </div>
</div>