

<div class="card">
    <p class="data-small data"><strong>Ronald McNair SR., High School</strong><br> 1804 Bouldercrest Rd, Atlanta, GA 30316</p>
    <a class="bold-link" onclick="action.ready.earyVoteMoreInfo()">More Info</a>
</div>