<div>
    <p>Are you registered to vote?</p>
    <p>
        <button class="btn btn-default" onclick="action.registered.loadCheckReg('dv2')">Check Registration</button>
        </p>
    <p>
        <button class="btn btn-default" onclick="action.registered.loadUploadImg('dv3')">Yes</button>
    </p>
</div>