<div class="screen-content col-10 col-md-4">
  
   <div class="message">
       <h1 class="stars">Are you registered <span class="text-nowrap">to vote?</span></h1>
<!--        <p>Check if you&#39;re registered to vote. If you&#39;re registered, post a souped-up photo to social media saying that you are.</p>-->
    </div>
    <div class="action">
        <p>
            <button class="btn btn-default action-btn red" onclick="action.registered.loadCheckReg('dv2')">I don't know</button>
            </p>
        <p>
            <button class="btn btn-default action-btn blue" onclick="action.registered.registrationConfirmed('dv3')">Yes</button>
        </p>
    </div>
</div>