<p>
    Make this photo public?
</p>
<p>
    <button type="button" class="btn btn-default" onclick="action.chooseMakePicPublic(true, 'dv6');">Yes</button>
</p>
<p>
    <button type="button" class="btn btn-default" onclick="action.chooseMakePicPublic(false, 'dv6');">No</button>
</p>