<div class="screen-content col-10 col-md-4">
   
<div class="message">
    <h1 class="stars">Make this photo public?</h1>
</div>
  
<div class="action">
    <p>
        <button type="button" class="btn btn-default action-btn blue" onclick="action.chooseMakePicPublic(true, 'dv6');">Yes</button>
    </p>
    <p>
        <button type="button" class="btn btn-default action-btn blue" onclick="action.chooseMakePicPublic(false, 'dv6');">No</button>
    </p>
</div> 

</div>