<div class="screen-content col-10 col-lg-4">
    <div class="message">
        <h1 class="stars">Get Your <span class="text-nowrap">Polling Place</span></h1>
    </div>
</div>
<div class="screen-content col-12 col-lg-6">
    <div id="polling-search">
        <input id="selectAddress" placeholder="Enter your street address" type="text" />
        <button onclick="action.ready.clearAddress()">Clear Address</button>
    </div>
    <div class="info-card">
        <div class="context-info">
            <div class="label">Selected Address:</div>
            <div class="data-large data"><span id="spSelectedAddress"></span></div>
        </div>
        <div class="main-info contextualized">
            <header class="section">
                <h1>Vote Here</h1>
                <p><strong><span id="spPollLocation"></span></strong><br> <span id="spPollAddressLine1"></span><br /><span id="spPollAddressLine2"></span></p>
            </header>
            <div class="sub-info container-fluid">
                <div class="row">
                    <div class="col-6 cell">
                        <div class="label">Election Day</div>
                        <div class="data-small data">Tues, NOV. 6th</div>
                    </div>
                    <div class="col-6 cell">
                        <div class="label">Operating Hours</div>
                        <div class="data-small data"><span id="spPollHours"></span></div>
                    </div>
                </div>
            </div>
            <div class="action">
                <p>
                    <a href="#" id="aAddToCalendar" class="btn btn-default action-btn red">Add to Calendar</a>
                </p>
                <p>
                    <a href="#" id="aGetDirections" target="_blank" class="btn btn-default action-btn blue">Get Directions</a>
                </p>
            </div>
        </div>
    </div>
    <div class="info-card">
        <div class="main-info">
            <header class="section">
                <h1>Vote Early</h1>
                <p>Select one of the following locations to vote on a day before Tuesday, <span class="text-nowrap">November 6th.</span></p>
            </header>
            <div class="sub-cards last-child">
                <div id="early-voting-cards" class="cards">
                   
                </div>

            </div>
        </div>
    </div>
</div>
<div class="screen-content col-10 col-lg-4 bottom-screen">
    <div class="message">
        <h1 class="stars">Snap a Pro-Voting Selfie</h1>
        <p>Click below to take a selfie or upload a photo of yourself from your device.</p>
    </div>
</div>
