<div class="screen-content col-10 col-md-4">
    <div class="message">
        <h1 class="stars">Get Your <span class="text-nowrap">Polling Place</span></h1>
    </div>
</div>
<div class="screen-content col-12 col-md-6">
    <div id="polling-search">
        <input id="selectAddress" type="text" />
        <button onclick="action.ready.clearAddress()">Clear Address</button>
    </div>
    <div class="info-card">
        <div class="context-info">
            <div class="label">Selected Address:</div>
            <div class="data-large data"><span id="spSelectedAddress"></span></div>
        </div>
        <div class="main-info">
            <header class="section">
                <h1>Vote Here</h1>
                <p><strong><span id="spPollLocation"></span></strong><br> <span id="spPollAddressLine1"></span><br /><span id="spPollAddressLine2"></span></p>
            </header>
            <div class="sub-info container-fluid">
                <div class="row">
                    <div class="col-6 cell">
                        <div class="label">Election Day</div>
                        <div class="data-small data">Tues, NOV. 6th</div>
                    </div>
                    <div class="col-6 cell">
                        <div class="label">Operating Hours</div>
                        <div class="data-small data"><span id="spPollHours"></span></div>
                    </div>
                </div>
            </div>
            <div class="action">
                <p>
                    <a href="#" id="aAddToCalendar" class="btn btn-default action-btn red">Add to Calendar</a>
                </p>
                <p>
                    <a href="#" id="aGetDirections" target="_blank" class="btn btn-default action-btn blue">Get Directions</a>
                </p>
            </div>
        </div>
    </div>
    <div class="info-card">
        <div class="main-info">
            <header class="section">
                <h1>Vote Early</h1>
                <p>Select one of the following locations to vote a day before Tuesday, November 6th.</p>
            </header>
            <div class="sub-cards">
                <div id="early-voting-cards" class="cards">
                    <div class="card">
                        <p class="data-small data"><strong>Ronald McNair SR., High School</strong><br> 1804 Bouldercrest Rd, Atlanta, GA 30316</p>
                        <a class="bold-link" onclick="action.ready.earyVoteMoreInfo()">More Info</a>
                    </div>
                    <div class="card">
                        <p class="data-small data"><strong>Ronald McNair SR., High School</strong><br> 1804 Bouldercrest Rd, Atlanta, GA 30316</p>
                    </div>
                    <div class="card">
                        <p class="data-small data"><strong>Ronald McNair SR., High School</strong><br> 1804 Bouldercrest Rd, Atlanta, GA 30316</p>
                    </div>
                    <div class="card">
                        <p class="data-small data"><strong>Ronald McNair SR., High School</strong><br> 1804 Bouldercrest Rd, Atlanta, GA 30316</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $( document ).ready(function() {
        $('#early-voting-cards').slick({
            infinite: false,
            variableWidth: true,
            slidesToShow: 2,
            slidesToScroll: 1,
            swipeToSlide: true,
            responsive:[
               {
                   breakpoint: 767.98,
                   settings: {
                       infinite: false,
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        swipeToSlide: true,
                        arrows: false,
                   }
               }
           ]
        });
    });
</script>

<div class="screen-content col-10 col-md-4 bottom-screen">
    <div class="message">
        <h1 class="stars">Snap a Pro-Voting Selfie</h1>
        <p>Click below to take a selfie or upload a photo of yourself from your device.</p>
    </div>
</div>

