
@{
    ViewBag.Title = "_Ready";
}

<div class="screen-content col-10 col-md-4">
    <div class="message">
        <h1 class="stars">Get Your <span class="text-nowrap">Polling Place</span></h1>
    </div>
</div>
<div  style="margin-top:50px;" class="screen-content col-12 col-md-6">
    <input id="selectAddress" type="text" />
    <div class="info-card">
        <div class="context-info">
            <div class="label">Selected Address</div>
            <p class="data-large data"><span id="spSelectedAddress"></span></p>
        </div>
        <div class="main-info">
            <header class="section">
                <h2>Vote Here</h2>
                <p><strong><span id="spPollLocation"></span></strong><br> <span id="spPollAddressLine1"></span><br /><span id="spPollAddressLine2"></span></p>
            </header>
            <div class="sub-info container-fluid section">
                <div class="row">
                    <div class="col-6">
                        <div class="label">Election Day</div>
                        <p class="data-small data">Tues, NOV. 6th</p>
                    </div>
                    <div class="col-6">
                        <div class="label">Operating Hours</div>
                        <p class="data-small data"><span id="spPollHours"></span></p>
                    </div>
                </div>
            </div>
            <div class="action">
                <p>
                    <a href="#" id="aAddToCalendar" class="btn btn-default action-btn red">Add to Calendar</a>
                </p>
                <p>
                    <a href="#" id="aGetDirections" target="_blank" class="btn btn-default action-btn blue">Get Directions</a>
                </p>
            </div>
        </div>
    </div>
    <div class="info-card">
        <div class="main-info">
            <header class="section">
                <h2>Vote Early</h2>
                <p>Select one of the following locations to vote a day before Tuesday, November 6th.</p>
            </header>
            <div class="sub-cards" style="display:none;">
                <div class="cards">
                    <div class="card">
                        <p class="data-small data"><strong>Ronald McNair SR., High School</strong><br> 1804 Bouldercrest Rd, Atlanta, GA 30316</p>
                    </div>
                    <div class="card">
                        <p class="data-small data"><strong>Ronald McNair SR., High School</strong><br> 1804 Bouldercrest Rd, Atlanta, GA 30316</p>
                    </div>
                    <div class="card">
                        <p class="data-small data"><strong>Ronald McNair SR., High School</strong><br> 1804 Bouldercrest Rd, Atlanta, GA 30316</p>
                    </div>
                    <div class="card">
                        <p class="data-small data"><strong>Ronald McNair SR., High School</strong><br> 1804 Bouldercrest Rd, Atlanta, GA 30316</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="screen-content col-10 col-md-4 bottom-screen">
    <div class="message">
        <h1 class="stars">Snap a Pro-Voting Selfie</h1>
        <p>Click below to take a selfie or upload a photo of yourself from your device.</p>
    </div>
</div>

