@model IEnumerable<Activote.Models.State>
@using Activote.Models

<div class="screen-content col-10 col-md-4">
    <div class="message">
        <h1 class="stars">ENCOURAGE YOUR HOMIES TO VOTE BY POSTING A SELFIE</h1>
    </div>
    <div>
        <button type="button" onclick="action.registered.start()">Start</button>
    </div>
</div>