<div class="screen-content col-10 col-md-4">
 
  <input type="file" id="uploadPic" class="photo-upload" onchange="action.imageUploaded()" />
<label for="uploadPic">&nbsp;</label>
  
  
   <div class="message">
      <h1 class="stars">Say Cheese!</h1>
      <p>Click above to take a selfie or upload a photo of yourself from your device.</p>
   </div>
</div>