@{
    /**/

    ViewBag.Title = "Index";
}
@if (ViewBag.InitView != null)
{
    <input type="hidden" id="InitView" value="@ViewBag.InitView" />

    <div id="dvSlideShow">
        <img style="width:25%" />
        <img style="width:25%" />
        <img style="width:25%" />
        <img style="width:25%" />
    </div>

    
<div id="dv1" class="screen row justify-content-center align-items-center">

</div>

<div id="dv2" class="screen row justify-content-center align-items-center">

</div>

<div id="dv3" class="screen row justify-content-center align-items-center">

</div>

<div id="dv4" class="screen row justify-content-center align-items-center">

</div>

<div id="dv5" class="screen row justify-content-center align-items-center">

</div>

<div id="dv6" class="screen row justify-content-center align-items-center">

</div>

<div id="dv7" class="screen row justify-content-center align-items-center">

</div>


    @section scripts{
        <script src="~/Scripts/hammer.min.js"></script>
        <script src="~/Scripts/ImageEditor.js"></script>
        <script src="~/Scripts/custom/Action.js"></script>
        <script src="~/Scripts/custom/Registered.js"></script>

    }

    @section styles{
        <style>
            .screen-div {
                border: solid;
                padding: 10px;
            }
        </style>

    }
}
else
{
    <div>
        Invalid Link
    </div>
}
