@model IEnumerable<Activote.Models.Photo>

@{
    ViewBag.Title = "SlideShow";
}

<div class="row">
    @foreach (var p in Model)
    {
        <div class="col-md-2">
            <img style="width:100%" src="~/Home/Photo/@p.PhotoGUID.ToString()" />
            <p style="font-weight:italic">
                Uploaded @p.DtAddedString
            </p>
        </div>
    }
</div>

