@model IEnumerable<Activote.Models.State>
@using Activote.Models

@{
    Layout = null;
    ViewBag.Title = "StateTest";
}

<input type="text" id="searchBox" class="form-control" style="width:500px;" />
<input type="hidden" id="sitePath" value="~/" />
<div>
    <h3>Selected Address</h3>
    <div id="address">

    </div>

    <h3>Polling Info</h3>
    <div>
        Name: <span id="pName"></span><br />
        Address: <span id="pAdd"></span><br />
        <span id="pCity"></span>, <span id="pState"></span> <span id="pZip"></span>
        <br /><br />
        <a id="appt" style="display:none;" href="#">Download Calendar Event</a>
    </div>
    @*<button onclick="getICal()" type="button">Download Calendar Event</button>*@
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDQAMdfqImWpKIHvkWfn4SUmzZkjYyUhs&libraries=places"></script>
<script>
    var address = new google.maps.places.Autocomplete(document.getElementById('searchBox'), null);
    var sitePath = $("#sitePath").val();
    var pollAdd;

    function getICal() {
        $.ajax({
            url: sitePath + 'Home/GetICal',
            method: "POST",
            data: { line1: pollAdd.line1, city: pollAdd.city, state: pollAdd.state, zip: pollAdd.zip, locationName: pollAdd.locationName},
            xhrFields: {
                responseType: "blob"
            },
            success: function (data) {
                var a = document.createElement('a');
                var url = window.URL.createObjectURL(data);
                a.href = url;
                a.download = 'reminder.ics';
                a.click();
                window.URL.revokeObjectURL(url);
            }
        })
    }

    address.addListener("place_changed", function () {
        $("#appt").hide();
        address.setFields(['structured_address']);
        var place = address.getPlace();
        var add = place.formatted_address != undefined ? place.formatted_address : place.name;
        document.getElementById('address').innerHTML = add;

        $.ajax({
            url: 'https://www.googleapis.com/civicinfo/v2/voterinfo',
            method: 'GET',
            data: {
                key: 'AIzaSyDDQAMdfqImWpKIHvkWfn4SUmzZkjYyUhs',
                address: add
            },
            success: function (data) {
                if (data.pollingLocations != undefined && data.pollingLocations.length > 0) {
                    var pAdd = data.pollingLocations[0].address;
                    pollAdd = pAdd;
                    $("#pName").html(pAdd.locationName);
                    $("#pAdd").html(pAdd.line1);
                    $("#pCity").html(pAdd.city);
                    $("#pState").html(pAdd.state);
                    $("#pZip").html(pAdd.zip);

                    $("#appt").attr("href", sitePath + "Home/GetICal?tzOffset=" + new Date().getTimezoneOffset().toString() + "&line1=" + encodeURIComponent(pAdd.line1) + "&city=" + encodeURIComponent(pAdd.city) + "&state=" + encodeURIComponent(pAdd.state) + "&zip=" + encodeURIComponent(pAdd.zip) + "&locationName=" + encodeURIComponent(pAdd.locationName));
                    $("#appt").show();
                }
                else {
                    alert('Polling location not yet available');
                }
                
            }
        });
    });
</script>