
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="https://accounts.google.com/o/oauth2/v2/auth?scope=https://www.googleapis.com/auth/youtube.upload&state=state_parameter_passthrough_value&redirect_uri=http://localhost:51370/youtube/oauth2callback&access_type=offline&response_type=code&client_id=437484594112-9j4lobosl4oh59uos3puidb5cl0fb76b.apps.googleusercontent.com">Authorize YouTube</a>